.icon-button {
	inline-size: 2.25rem;
	block-size: 2.25rem;
	display: inline grid;
	place-items: center;
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	transition: 0.1s ease;
	transition-property: background-color, scale, color;
	border-radius: 100%;

	&:hover {
		background-color: rgba(0, 0, 0, 0.05);
	}

	&:disabled,
	&[data-pending="true"] {
		color: var(--color-text-disabled);
	}

	&:active {
		scale: 0.9;
		color: var(--color-text-disabled);
	}
}
