.icon-button {
	inline-size: var(--size-min-touch-target);
	block-size: var(--size-min-touch-target);
	display: inline grid;
	place-items: center;
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	transition:
		var(--duration-short) ease scale,
		var(--duration-short) ease color,
		var(--duration-short) ease opacity,
		var(--duration-long) ease background-color;
	border-radius: 100%;

	& > * {
		grid-area: 1 / 1;
	}

	& > [data-visible="false"] {
		opacity: 0;
	}

	&:disabled,
	&[data-pending="true"] {
		color: var(--color-text-disabled);
	}

	&:active {
		scale: 0.9;
		color: var(--color-text-disabled);
	}
}

@media (hover: hover) {
	.icon-button:not(:disabled):hover {
		background-color: var(--color-background-hover);
	}
}
