.content {
	/* max-width: var(--size-max-width); */
	overflow: clip;
	overflow-wrap: break-word;
	hyphens: auto;
	transition: var(--duration-medium) ease max-height;
	max-height: auto;

	p + p {
		margin-block-start: 0.75rem;
	}
}

.content[data-truncated="true"] {
	max-height: 8rem;
}
