.footer {
	display: flex;
	flex-wrap: wrap;
	margin-block-start: 1rem;
	margin-block-end: -0.375rem;
	gap: 1rem;
	justify-content: space-between;
}

@container status (min-width: 40rem) {
	.footer {
		justify-content: start;
		& > :first-child {
			margin-inline-start: -0.375rem;
		}
	}
}

.bookmarked {
	color: cadetblue;
}

.favorited {
	color: orange;
}

.reblogged {
	color: var(--color-link);
}
