.footer {
	--_icon-button-padding: calc((var(--size-min-touch-target) - 1.5rem) / 2);
	display: flex;
	flex-wrap: wrap;
	margin-block-start: 0.5rem;
	margin-block-end: calc(-1 * var(--_icon-button-padding));
	gap: 1rem;
	justify-content: space-between;
}

@container status (min-width: 40rem) {
	.footer {
		justify-content: start;

		& > :first-child {
			margin-inline-start: calc(-1 * var(--_icon-button-padding));
		}
	}
}

.bookmarked {
	color: cadetblue;
}

.favorited {
	color: orange;
}

.reblogged {
	color: var(--color-link);
}
